[submodule "ETC/mbed-os"]
	path = ETC/mbed-os
	url = https://github.com/mbed-ce/mbed-os.git
[submodule "BMS/mbed-os"]
	path = BMS/mbed-os
	url = https://github.com/mbed-ce/mbed-os.git
[submodule "BMS/lib-mbed-ltc681x"]
	path = BMS/lib-mbed-ltc681x
	url = https://github.com/formulaslug/lib-mbed-ltc681x.git
[submodule "Telemetry-SD-Card/mbed-os"]
	path = Telemetry-SD-Card/mbed-os
	url = https://github.com/mbed-ce/mbed-os.git
