
# 3.12.0 both added HRuleStyle and deprecated the old constants in one single release :/
prettytable>=2.0,<3.12.0; python_version < '3.9'
prettytable>=3.12.0; python_version >= '3.9'

future>=0.18.0,<1.0
jinja2>=2.11.3
intelhex>=2.3.0,<3.0.0
python-dotenv
Click>=7.1,<9
GitPython
tqdm
tabulate
requests>=2.20
pywin32; platform_system=='Windows'
psutil; platform_system=='Linux'
pyudev; platform_system=='Linux'
typing-extensions
pyserial
fasteners
appdirs>=1.4,<2.0
junit-xml>=1.0,<2.0
lockfile
six>=1.0,<2.0
colorama>=0.3,<0.5
pyjson5~=1.6
humanize~=4.9.0

# Install pyocd so that it's available in the venv if the user chooses to use it
pyocd

# beautifulsoup only needed for USB device detection on Mac
beautifulsoup4; sys_platform == 'darwin'
lxml; sys_platform == 'darwin'

# needed for signing secure images
cryptography
cbor
cysecuretools~=6.0

# Needed for downloading CMSIS MCU descriptions
cmsis-pack-manager~=0.5.0

# cffi is a dependency of cmsis-pack-manager, but cffi needs a prerelease to support Python 3.13
cffi>=1.17.0rc1; python_version >= '3.13'